<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo TP9 app</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVB99YSL6F1CqODq8zyl/nwV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua6Wih6+1ka5w8dh5ByK3vX1qSWSsLv7p1KaXnqfWOgQpHI7B2HP6v0vD" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/demoapp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">




</head>
<body>
    <header>
        <div class="row">
            <div class="navbar">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <img src="~/lib/bootstrap/dist/css/logo-no-background.png" alt="demoapp" style="width: 200px; height: 100px;">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Diy" asp-action="item1">
                                DIY class
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="search-container">
                    <form id="searchForm" method="get" action="/SearchResults/Index">
                        <div class="search-box">
                            <input type="text" id="searchInput" name="search" placeholder="Enter your search query" aria-label="Search query">
                            <select id="searchRange" aria-label="Search by">
                                <option value="keyword" selected>Keyword</option>
                                <option value="topic">Topic</option>
                                <option value="title">Title</option>
                            </select>
                            <button type="submit" class="search-button">Search</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById("searchForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the default form submission behavior

            var searchQuery = document.getElementById("searchInput").value.trim(); // Get the search query from the input field
            var searchRange = document.getElementById("searchRange").value; // Get the selected search range from the dropdown

            if (searchQuery.length > 0) {
                // Redirect to the search results page with the search query and range parameters
                var redirectUrl = "/SearchResults/Index?search=" + encodeURIComponent(searchQuery) + "&range=" + encodeURIComponent(searchRange);
                window.location.href = redirectUrl;
            }
        });

    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
