
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>index</h1>

<h1>Search Results</h1>


<p>Search String: @ViewData["SearchWord"]</p>
<p>Search JSON: @ViewData["SearchJson"].ToString()</p>