<head>
</head>
<body>
  <h1 class="title">How to create Coin storage (cow) with your waste</h1>

  <div class="time">create at create at 2023-08-25</div>

    <div class="topic">
        <h2>Topics:</h2>
        <ul>
            <li><a href="#" class="topic-link">waste recycle</a></li><li><a href="#" class="topic-link">DIY</a></li>
        </ul>
    </div>

    <h3 class="subtitle">Tools:</h3>
    <p>cutter, glue gun, scissors, curve shape scissors, marker</p>

    <h3 class="subtitle">Materials:</h3>
    <p>plastic bottle, recycled plastic, foam sheet (white, pink, black), Yarn (40cm) x3, glue, black flannel, white paper, plastic eyes</p>

    <h3 class="subtitle">Steps:</h3>
    <ol>
        <li>1. Prepare a plastic bottle and remove the sticker.</li><li>2. If the bottle is too long, use scissors to cut the bottom to cut the middle of the bottle out.</li><li>3. Cut the bottle cap part using scissors.</li><li>4. Combine the top and bottom parts of the bottle.</li><li>5. Use a marker to mark the coin-shaped rectangle in the center of the bottle and cut it out.</li><li>6. Use tape to connect the top and bottom parts of the bottle.</li><li>7. Cut a proper size of pink and white foam sheet and use a glue gun to attach it to the bottle cap. Make it the nose of the cow.</li><li>8. Cut a coin-shaped hole on a white foam sheet and use glue to attach it to the bottle as a cow's body.</li><li>9. Use a pink and white foam sheet to make a pair of ears, and use a black foam sheet to make a pair of horns and attach them to the bottle.</li><li>10. Round the yarn with two fingers 10 times and tie with short yarn, make 3 of them and attach them to the bottle as cow hair.</li><li>11. Cut the black foam sheet into random shapes and stick it to the cow's body as patterns.</li><li>12. Roll 4 white foam sheets as legs and use curve shape scissors to cut the black form sheet into patterns of legs, and attach the legs to the body.</li><li>13. Cut the paper into 2 round shapes and stick the plastic eyes on them to make them the cow's eyes. Finally, stick the eyes to the bottle.</li><li>14. Done!</li>
    </ol>

    <h3 class="subtitle">Link:</h3>
    <a href="https://www.youtube.com/watch?v=N4aT-mN8Bb8">https://www.youtube.com/watch?v=N4aT-mN8Bb8</a>

    
</body>
