<head>
</head>
<body>
  <h1 class="title">How to create Mosaic Bottle Art with your waste</h1>

  <div class="time">create at create at 2023-08-25</div>

    <div class="topic">
        <h2>Topics:</h2>
        <ul>
            <li><a href="#" class="topic-link">waste recycle</a></li><li><a href="#" class="topic-link">DIY</a></li>
        </ul>
    </div>

    <h3 class="subtitle">Tools:</h3>
    <p></p>

    <h3 class="subtitle">Materials:</h3>
    <p>Empty glass Bottle, mosaic tiles, shells(optional), silicone, mosaic grout, mosaic grout clear</p>

    <h3 class="subtitle">Steps:</h3>
    <ol>
        <li>1. Prepare an empty wine bottle</li><li>2. Use the silicone glue to adhere the tiles and shells to the wine bottle.</li><li>3. Follow the instructions on your grout package to mix up your grout.</li><li>4. Use the putty knife to place a dollop of grout right on the tiles.</li><li>5. Buff the surface of the tiles with a dry paper towel to remove the haze.</li><li>6. Let the grout dry for 24 hours. You can seal the mosaic with a thin layer of mosaic sealer.</li>
    </ol>

    <h3 class="subtitle">Link:</h3>
    <a href="https://www.youtube.com/watch?v=k3wqlgJScB4">https://www.youtube.com/watch?v=k3wqlgJScB4</a>

    
</body>
