@{
    ViewData["Title"] = "DIY";
}


<div class="body">
    <div class="container-fluid">
        <div class="header3">
            <img src="~/lib/bootstrap/dist/css/DIYClass.jpg" class="transparent-image">
            <div class="overlay-text">DIY class</div>
        </div>
    </div>
</div>



<div class="container-diy">
    <div class="section-materials">
        <h2 class="section-title">Materials</h2>
        <ul class="list-items">
            <li>Cardboard</li>
            <li>Bond/Wrapping paper</li>
        </ul>
    </div>

    <!-- 工具部分 -->
    <div class="section-tools">
        <h2 class="section-title">Tools</h2>
        <ul class="list-items">
            <li>Glue</li>
            <li>Scissor</li>
            <li>Pencil</li>
            <li>Ruler</li>
            <li>Glue Gun</li>
        </ul>
    </div>

    <!-- 流程部分 -->
    <div class="section-process">
        <h2 class="section-title">Steps</h2>
        <ol class="list-items">
            <li>1. Cut the cardboard into 4 pieces with the size 25 cm x 9 cm.</li>
            <li>2. Glue all the 4 cardboards on top of each other. </li>
            <li>3. Cut another new cardboard into 6 pieces with the size 25 cm x 2 cm. </li>
            <li>4. Glue the carboard to the edge of the 4 stacked carboard.</li>
            <li>5. Cut another new cardboard into 4 pieces where the outer left side is 12.5 cm, the outer upper side is 23.5 cm , the outer right side is 12.5cm. </li>
            <li>6. Then cut the inner left and right side to be 10 cm and the inner upper side to be 18.5cm.</li>
            <li>7. Take of any excess cardboard and cut the edge of left and right side stand into 2.5cm each.</li>
            <li>8. Glue all the 4 cardboard on top of each other.</li>
            <li>9. Cut another new cardboard into 6 pieces with the size 25 cm x 2 cm.</li>
            <li>10. Cover all the edge of the 'c' shaped cardboard that was already stacked.</li>
            <li>11. Cut another new cardboard into 3 pieces with the size 8.5 cm x 5.5 cm.</li>
            <li>12. Glue the 3 pieces on top of each other.</li>
            <li>13. Do it 3 times from Step 11 to make 3 different cards.</li>
            <li>14. Once done, make a small hole in the upper middle for it to hang.</li>
            <li>15. Take a piece of paper and cut for numbers and months.</li>
            <li>16. Glue the 'c' shaped stand on top of the 4 stacked carboard to make a stand.</li>
            <li>17. Cut another cardboard into 3 pieces with the size 12 cm x 1 cm.</li>
            <li>18. Hang the 3 pieces string into the hole that has been Created.</li>
            <li>19. Loop the of each of the card to the hanger.</li>
            <li>20. Flip the cards to change dates and months.</li>
            <h2 class="subtitle">Link:</h2>
            <a href="https://www.youtube.com/watch?v=CrngKvTJagk">https://www.youtube.com/watch?v=CrngKvTJagk</a>
        </ol>

    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var topicLinks = document.getElementsByClassName("topic-link");

        function handleTopicLinkClick(event) {
            event.preventDefault();

            var topic = this.textContent.trim();

            // Redirect to the search results page with the topic as the search query and "topic" as the search range
            var redirectUrl = "/SearchResults/Index?search=" + encodeURIComponent(topic) + "&range=topic";
            window.location.href = redirectUrl;
        }

        for (var i = 0; i < topicLinks.length; i++) {
            topicLinks[i].addEventListener("click", handleTopicLinkClick);
        }
    });
</script>