@{
    ViewData["Title"] = "DIY";
}


<div class="body">
    <div class="container-fluid">
        <div class="header3">
            <img src="~/lib/bootstrap/dist/css/DIYClass.jpg" class="transparent-image">
            <div class="overlay-text">DIY class</div>
        </div>
    </div>
</div>



<div class="container-diy">
    <div class="section-materials">
        <h2 class="section-title">Materials</h2>
        <ul class="list-items">
            <li>Cardboard</li>
            <li>Brown wrapping paper</li>
            <li>Gray wrapping paper</li>
        </ul>
    </div>

    <!-- 工具部分 -->
    <div class="section-tools">
        <h2 class="section-title">Tools</h2>
        <ul class="list-items">
            <li>Glue</li>
            <li>Scissor</li>
            <li>Glue Gun</li>
            <li>Tape</li>
            <li>3 food containers</li>
        </ul>
    </div>

    <!-- 流程部分 -->
    <div class="section-process">
        <h2 class="section-title">Steps</h2>
        <ol class="list-items">
            <li>1. Cut the cardboard into 6 pieces with the size 67 cm x 4 cm.</li>
            <li>2. Glue each of the 3 pieces on top of each other into 2 stacked pieces (Part A).</li>
            <li>3. Cut another new cardboard into 12 pieces with the size 41 cm x 4 cm. </li>
            <li>4. Glue each of the 3 pieces on top of each other into 4 stacked pieces (Part B).</li>
            <li>5. Glue the 2 part b to the edge of part a and tape it. </li>
            <li>6. Cover part B with brown paper.</li>
            <li>7. Cut another new cardboard into 16 pieces with the size 2 cm x 69 cm.</li>
            <li>8. Glue each of the 2 pieces on top of each other into 8 stacked pieces (Part C).</li>
            <li>9. Cover part C with gray paper.</li>
            <li>10. Cut another new cardboard into 16 pieces with the size of 2 cm x 27 cm.</li>
            <li>11. Glue each of the 2 pieces on top of each other into 8 stacked pieces (Part D).</li>
            <li>12. Cover part D with  brown paper.</li>
            <li>13. Glue part C to part D 3cm downwards from the edge and use push pin under it then glue gun the push pin (Part E).</li>
            <li>14. Do it for the other 3 sticks.</li>
            <li>15. Glue part A and one part B to make a 'c' shaped.</li>
            <li>16. Glue the 'c' shaped to part E.</li>
            <li>17. Use 3 food containers as a base and put part E on top of it.</li>
            <li>18. Cut another new cardboard into 12 pieces with the size 3 cm x 40 cm.</li>
            <li>19. Fold all of it circularly and tape the end (Part F).</li>
            <li>20. Cut anoter new cardboard into 2 pieces with the size 80 cm x 33 cm (Part G).</li>
            <li>21. Glue all part F to all edge and middle of part G.</li>
            <li>22. Tape the edge of all the part G.</li>
            <li>23. Cover the part G with any desired wrapping paper color.</li>
            <li>24. Glue part G on the top of the product of the assembly parts.</li>
            <h2 class="subtitle">Link:</h2>
            <a href="https://www.youtube.com/watch?v=CrngKvTJagk">https://www.youtube.com/watch?v=CrngKvTJagk</a>
        </ol>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var topicLinks = document.getElementsByClassName("topic-link");

        function handleTopicLinkClick(event) {
            event.preventDefault();

            var topic = this.textContent.trim();

            // Redirect to the search results page with the topic as the search query and "topic" as the search range
            var redirectUrl = "/SearchResults/Index?search=" + encodeURIComponent(topic) + "&range=topic";
            window.location.href = redirectUrl;
        }

        for (var i = 0; i < topicLinks.length; i++) {
            topicLinks[i].addEventListener("click", handleTopicLinkClick);
        }
    });
</script>
