@{
    ViewData["Title"] = "DIY";
}


<div class="body">
    <div class="container-fluid">
        <div class="header3">
            <img src="~/lib/bootstrap/dist/css/DIYClass.png" class="transparent-image">
            <div class="overlay-text">DIY class</div>
        </div>
    </div>
</div>



<div class="container-diy">
    <div class="section-materials">
        <h2 class="section-title">Materials</h2>
        <ul class="list-items">
            <li>Wood</li>
            <li>Paint</li>
            <li>Screw</li>
        </ul>
    </div>

    <!-- 工具部分 -->
    <div class="section-tools">
        <h2 class="section-title">Tools</h2>
        <ul class="list-items">
            <li>Wood glue</li>
            <li>Saw</li>
            <li>Electric drill</li>
            <li>Sandpaper</li>
            <li>Hammer</li>
            <li>Screwdriver</li>
            <li>Ruler</li>
            <li>Chisel</li>
            <li>Wood clamps</li>
        </ul>
    </div>

    <!-- 流程部分 -->
    <div class="section-process">
        <h2 class="section-title">Steps</h2>
        <ol class="list-items">
            <li>1. Decide on the type and design of the furniture you wish to create. Draft a sketch and mark the dimensions.</li>
            <li>2. Based on your design, measure and mark the necessary sections on the wood.</li>
            <li>3. Use the saw to cut the wood based on your markings.</li>
            <li>4. Use sandpaper to smooth all cut edges of the wood, ensuring there are no splinters.</li>
            <li>5. Join the pieces together using nails, screws, and wood glue as per your design. </li>
            <li>6. After assembly, sand the entire piece to ensure a smooth finish.</li>
            <li>7. Apply varnish or paint to beautify and protect the furniture.</li>
           
        </ol>
    </div>
</div>