@{
    ViewData["Title"] = "DIY";
}


<div class="body">
    <div class="container-fluid">
        <div class="header3">
            <img src="~/lib/bootstrap/dist/css/DIYClass.png" class="transparent-image">
            <div class="overlay-text">DIY class</div>
        </div>
    </div>
</div>



<div class="container-diy">
    <div class="section-materials">
        <h2 class="section-title">Materials</h2>
        <ul class="list-items">
            <li>Empty glass Bottle</li>
            <li>Mosaic tiles</li>
            <li>Shells(optional)</li>
            <li>Silicone</li>
            <li>Mosaic grout</li>
            <li>Mosaic grout clear</li>


        </ul>
    </div>

    <!-- 工具部分 -->
    <div class="section-tools">
        <h2 class="section-title">Tools</h2>
        <ul class="list-items">
            <li>None</li>
        </ul>
    </div>

    <!-- 流程部分 -->
    <div class="section-process">
        <h2 class="section-title">Steps</h2>
        <ol class="list-items">
            <li>1. Prepare an empty wine bottle</li>
            <li>2. Use the silicone glue to adhere the tiles and shells to the wine bottle.</li>
            <li>3. Follow the instructions on your grout package to mix up your grout.</li>
            <li>4. Use the putty knife to place a dollop of grout right on the tiles.</li>
            <li>5. Buff the surface of the tiles with a dry paper towel to remove the haze. </li>
            <li>6. Let the grout dry for 24 hours. You can seal the mosaic with a thin layer of mosaic sealer.</li>
            <h2 class="subtitle">Link:</h2>
            <a href="https://www.youtube.com/watch?v=k3wqlgJScB4">https://www.youtube.com/watch?v=k3wqlgJScB4</a>
        </ol>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var topicLinks = document.getElementsByClassName("topic-link");

        function handleTopicLinkClick(event) {
            event.preventDefault();

            var topic = this.textContent.trim();

            // Redirect to the search results page with the topic as the search query and "topic" as the search range
            var redirectUrl = "/SearchResults/Index?search=" + encodeURIComponent(topic) + "&range=topic";
            window.location.href = redirectUrl;
        }

        for (var i = 0; i < topicLinks.length; i++) {
            topicLinks[i].addEventListener("click", handleTopicLinkClick);
        }
    });
</script>