@{
    ViewData["Title"] = "DIY";
}


<div class="body">
    <div class="container-fluid">
        <div class="header3">
            <img src="https://carbonvic.s3.amazonaws.com/wwwroot/lib/bootstrap/dist/css/DIYClass.jpg" class="transparent-image">
            <div class="overlay-text">DIY class</div>
        </div>
    </div>
</div>



<div class="container-diy">
    <div class="section-materials" style="display: flex; justify-content: space-between;">
        <div style="flex: 1;">
            <h2 class="section-title">Materials</h2>
            <ul class="list-items">
                <li>Empty glass Bottle</li>
                <li>Bottle Lamp Kit</li>
                <li>Duct Tape</li>
                <li>Lamp Shade</li>
                <li>Light Bulb</li>
            </ul>
        </div>
        <div style="flex: 1; text-align: left;">
            <h2 class="section-title">Video Tutorials</h2>
            <iframe style="width: 60%;height: 200px;" src="https://www.youtube.com/embed/f5JiJy-dELs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


    <!-- 工具部分 -->
    <div class="section-tools">
        <h2 class="section-title">Tools</h2>
        <ul class="list-items">
            <li>Electric Drill</li>
        </ul>
    </div>

    <!-- 流程部分 -->
    <div class="section-process">
        <h2 class="section-title">Steps</h2>
        <ol class="list-items">
            <li>1. Prepare an empty wine bottle and Drill the hole by using the electronic drill </li>
            <img src="https://carbonvic.s3.amazonaws.com/wwwroot/lib/bootstrap/dist/css/1a.PNG">
            <li>2. Prepare the bottle lamp kit and thread the cord through the hole in the bottom of the bottle and through the top of the bottle.</li>
            <img src="https://carbonvic.s3.amazonaws.com/wwwroot/lib/bootstrap/dist/css/2a.PNG">
            <li>3. Inside your bottle wiring kit, there should be a bottle fitting for the top of the bottom. You’ll want to pick the one that fits the best, without being too large.</li>
            <img src="https://carbonvic.s3.amazonaws.com/wwwroot/lib/bootstrap/dist/css/3a.PNG">
            <li>4. Attach the nipple piece to your bottle fitting and attach the washer to the bottom of the nipple to secure.</li>
            <img src="https://carbonvic.s3.amazonaws.com/wwwroot/lib/bootstrap/dist/css/4a.PNG">
            <li>5. Thread the wire for the cord through the lamp nipple with the bottle fitting and leave just a few inches of wire coming out. Secure the fitting into the top of the bottle. It should be a snug fit.</li>
            <img src="https://carbonvic.s3.amazonaws.com/wwwroot/lib/bootstrap/dist/css/5a.PNG">
            <li>6. Feed the bottom of the socket cap through the wiring. If you wanted to have your wire come out the of the top of the lamp, this is where the cord would be fed through instead of the bottom. I just prefer this look because I feel it looks cleaner. </li>
            <img src="https://carbonvic.s3.amazonaws.com/wwwroot/lib/bootstrap/dist/css/6a.PNG">
            <li>7. Tie a loose knot with the wires. This will help prevent them to become unattached later after they are fully wired up in the socket.</li>
            <img src="https://carbonvic.s3.amazonaws.com/wwwroot/lib/bootstrap/dist/css/7a.PNG">
            <li>8. Attach each wire to the screws on either side of the switch and tighten the screws with a screwdriver to ensure they are secure.</li>
            <img src="https://carbonvic.s3.amazonaws.com/wwwroot/lib/bootstrap/dist/css/8a.PNG">
            <li>9. Attach your lamp shade and light bulb and finish up your new growler lamp!</li>
            <img src="https://carbonvic.s3.amazonaws.com/wwwroot/lib/bootstrap/dist/css/10a.PNG">
        </ol>
    </div>


</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var topicLinks = document.getElementsByClassName("topic-link");

        function handleTopicLinkClick(event) {
            event.preventDefault();

            var topic = this.textContent.trim();

            // Redirect to the search results page with the topic as the search query and "topic" as the search range
            var redirectUrl = "/SearchResults/Index?search=" + encodeURIComponent(topic) + "&range=topic";
            window.location.href = redirectUrl;
        }

        for (var i = 0; i < topicLinks.length; i++) {
            topicLinks[i].addEventListener("click", handleTopicLinkClick);
        }
    });
</script>