@{
    ViewData["Title"] = "Home Page";
}

<div class="body">
    <div class="container-fluid">
        <div class="header2">
            <img src="~/lib/bootstrap/dist/css/pexels-ingo-joseph-188029.jpg" class="transparent-image">
            <div class="overlay-text">Waste Island</div>
        </div>
    </div>
</div>
<img src="~/lib/bootstrap/dist/css/kisspng-arrow-symbol-icon-down-arrow-png-pic-5a756e2591b7b9.1532686215176453495969.png" class="overlap-image" width="50px" height="50px">

<div class="row">
    <div class="four_part">
        <h2>Human-Generated Waste and Its Impact on Climate Change</h2>
        <p>
            Human civilization has experienced rapid industrialization, urbanization,
            and population growth in the past two centuries. As a consequence, the generation of waste,
            in its various forms, has surged dramatically. From the mountains of plastic in our oceans to the noxious fumes from our factories and cars,
            human-generated waste has become a pressing environmental concern.
            Let’s delves into the intricate relationship between human waste and climate change,
            highlighting the imperative need to address this multifaceted challenge.
        </p>
    </div>
    <div class="six_part">
        <img src="~/lib/bootstrap/dist/css/pexels-josh-sorenson-1054391.jpg" alt="Description of image 1" class="six-part-image">
        <img src="~/lib/bootstrap/dist/css/pexels-matthew-montrone-1179229.jpg" alt="Description of image 2" class="six-part-image">
        <img src="~/lib/bootstrap/dist/css/pexels-samuel-walker-1980720.jpg" alt="Description of image 3" class="six-part-image">
    </div>
</div>


<div class="row">
    <div class="six_part2">
        <img src="~/lib/bootstrap/dist/css/pexels-emmet-128421.jpg" alt="Description of image 1" class="six-part2-image2">
    </div>
    <div class="four_part">
        <h2>The Impact on Climate</h2>
        <p>
            Greenhouse Gas Emissions: The decomposition of organic waste in landfills produces methane. 
            Industries, especially those involved in waste treatment and incineration, release significant amounts of carbon dioxide. 
            These gases trap heat in the Earth's atmosphere, leading to the greenhouse effect and, subsequently, global warming.
        </p>
    </div>
</div>


<div class="row">
    <div class="five_part">
        <h2>Overall Decline in Landfill Emissions: </h2>
        <p>
            One of the most striking features of the graph is the steady decrease in emissions from waste to landfill. 
            Starting at a considerable 17 Mt CO2-e in 1990, the emissions have reduced significantly, 
            reaching 10  Mt CO2-e in 2022 and willing to reaching 6 Mt CO2-e by 2035. 
            This reduction of more than 60% over the 45-year period signifies the country's efforts to minimize landfill waste through policies,
            recycling efforts, waste-to-energy projects, and a general societal shift towards sustainable waste management practices.
        </p>
        <h2>Landfill Remains the Dominant Emitter: </h2>
        <p>
            Despite the commendable reduction in landfill emissions, waste to landfill remains the most significant contributor to waste emissions in 2035.
            This highlights the ongoing challenge of managing and reducing landfill waste, as even with advanced waste treatment technologies and strategies,
            a considerable volume of waste still ends up in landfills.
        </p>
    </div>
    <div class="five_part">
        <h1>
            Line chart of waste to landfill emissions 1990-2035
        </h1>
    </div>
</div>

<div class="row">
    <div class="five_part">
        <div class='tableauPlaceholder' id='viz1693392089320' style='position: relative'>
            <noscript>
                <a href='#'>
                    <img alt='Waste Amount Prediction Over Years' src='https://public.tableau.com/static/images/2G/2GXHHCMW2/1_rss.png' style='border: none' />
                </a>
            </noscript>
            <object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https://public.tableau.com/' />
                <param name='embed_code_version' value='3' />
                <param name='path' value='shared/2GXHHCMW2' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https://public.tableau.com/static/images/2G/2GXHHCMW2/1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-GB' />
                <param name='filter' value='publish=yes' />
            </object>
        </div>
    </div>
    <div class="five_part">
        <h2>Descriotion:</h2>
        <p>
            The provided figure presents a comprehensive overview of the projected trends in waste disposal at landfills in Australia, 
            spanning the years from 2022 to 2035. The data is categorized into four main waste streams: Municipal Solid Waste (MSW),
            Commercial and Industrial Waste, and Construction and Demolition Waste.
            In the initial year, 2022, a total of 18 million metric tons (Mt) of waste was directed to landfills.
            This aggregate figure encompasses waste from all four waste streams. Notably, the largest contributor to this landfill-bound waste is the Municipal Solid Waste (MSW) category,
            which represents waste generated by households and similar sources. 
            This segment holds a significant proportion of the total waste, indicating its prominence in the waste disposal landscape.
            As the projection advances to 2035, a noteworthy shift becomes apparent. 
            The total waste to landfill is anticipated to witness a substantial reduction, decreasing by nearly half to reach 9 million metric tons. This downward trend highlights the concerted efforts and strategies that are being implemented to address waste management and reduction on a national scale.
        </p>
    </div>
</div>

<script type='text/javascript'>
    var divElement = document.getElementById('viz1693392089320');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '100%';
    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>



<div class="one_part">
   <p>
      Australia has always experienced hot temperatures, 
      but the intensity and frequency of heatwaves have risen in recent decades. 
      Records show that average temperatures have gone up, with the past few years being among the hottest on record.
      Human-induced climate change, a result of excessive carbon emissions from waste and other sources, is a leading contributor to this trend.
   </p>
</div>


<div class="five_part1">
    <div class='tableauPlaceholder' id='viz1693376552495' style='position: relative'>
        <noscript>
            <a href='#'>
                <img alt='Dashboard 1 '
                     src='https://public.tableau.com/static/images/M3/M32R5YSZ4/1_rss.png'
                     style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https://public.tableau.com/' />
            <param name='embed_code_version' value='3' />
            <param name='path' value='shared/M32R5YSZ4' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https://public.tableau.com/static/images/M3/M32R5YSZ4/1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-GB' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>
</div>


<script type='text/javascript'>
    var divElement = document.getElementById('viz1693376552495');
    var vizElement = divElement.getElementsByTagName('object')[0];
    
    if (divElement.offsetWidth > 800) {
        vizElement.style.width = '1000px';
        vizElement.style.height = '827px';
    } else if (divElement.offsetWidth > 500) {
        vizElement.style.width = '1000px';
        vizElement.style.height = '827px';
    } else {
        vizElement.style.width = '100%';
        vizElement.style.height = '727px';
    }
    
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>



<div class="body">
    <div class="container-fluid">
        <div class="header2">
            <img src="~/lib/bootstrap/dist/css/pexels-evgeny-tchebotarev-4101555.jpg" class="transparent-image">
            <button class="scroll-top-btn">Top</button>
        </div>
    </div>
</div>

<script>
    document.querySelector(".scroll-top-btn").addEventListener("click", function () {
        window.scrollTo({
            top: 0,
            behavior: "smooth"  // 平滑滚动效果
        });
    });
</script>