
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6ecf0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#subarea_selection label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#subarea_selection select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

#subarea_selection button {
    padding: 10px;
    width: 100%;
    background-color: #24345F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#subarea_selection button:hover {
    background-color: #0056b3;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: fixed; /* 固定定位 */
    top: 0; /* 顶部对齐 */
    left: 0; /* 左侧对齐 */
    width: 100%; /* 占满整个宽度 */
    z-index: 1000; /* 高层叠顺序，确保在其他元素之上 */
}

.header {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 14px 16px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007BFF;
}

span {
    padding: 0 10px;
    color: black;
}



.header2 {
    width: 100%;
    overflow: hidden;
}

.header2 img.transparent-image {
    width: 100%;
    max-height: 200px;
    height: auto;
    object-fit: cover;
    display: block; 
}



.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

.input-group label {
    width: 100px;
    text-align: left;
    margin-right: 10px;
    color: #34495e;
}


.four_part,
.six_part {
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    flex: 1;
    padding: 20px;
    background: white; /* 或其他你喜欢的颜色 */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* 添加一些阴影效果 */
    border-radius: 5px; /* 添加一些圆角 */
}

.four_part h2,
.six_part h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
    padding-bottom: 10px;
}

.four_part label {
    font-weight: bold;
    margin-right: 10px;
}

.four_part select,
.four_part input[type="number"] {
    padding: 8px 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    flex-grow: 1;
    transition: border-color 0.3s;
}

.four_part select:focus,
.four_part input[type="number"]:focus {
    border-color: #1059a8;
    outline: none;
}

.four_part .button-group {
    display: flex;
    justify-content: flex-end;  
    width: 100%;
}

.four_part button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #24345F;
    color: #FFF;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s, transform 0.3s;
    display: block; /* 使按钮成为块级元素 */
    margin: 15px auto; /* 水平居中 */
}

.four_part button + button {
    margin-left: 10px;  
}

.four_part button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.transparent-image {
    opacity: 0.5;
}


#chart-container {
    width: 100%;
}

#chart-container2 {
    width: 100%;
}

#successfulMessage {
    font-weight: bold;
    text-align: center;
}

#failMessage {
    font-weight: bold;
    text-align: center;
}


.four_part2 {
    flex: 1;
    background-color: #e6ecf0;
    padding: 20px;
    display: flex;            
    justify-content: center; 
    align-items: center;    
    height: 100%; 
}


.six_part2 {
    flex: 1;
    background-color: #e6ecf0;
    padding: 20px;
    display: flex;         
    flex-direction: column;   
    justify-content: center;
    align-items: center; 
}

#carbonMessage {
    text-align: center;    
    font-size: 17px;           
    font-weight: bold;         
}


.six_part2 .button-group {
    display: flex;
    justify-content: flex-end;  
    width: 100%;
}

.six_part2 button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #24345F;
    color: #FFF;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s, transform 0.3s;

}

.six_part2 button + button {
    margin-left: 10px;  
}

.six_part2 button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 20px auto 0; 
}


.four_part3 {
    flex: 1;
    background-color: #e6ecf0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.six_part3 {
    flex: 1;
    background-color: #e6ecf0;
    padding: 20px;
    display: flex;         
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    position: relative;
}


.four_part4 {
    flex: 1;
    background-color: #F2F4F8;
    padding: 20px;
    display: flex;            
    justify-content: center;  
    align-items: center;     
    height: 100%; 
}


.six_part4 {
    flex: 1;
    background-color: #F2F4F8;
    padding: 20px;
    display: flex;         
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    position: relative;
}


.question-mark {
    display: inline-block;
    margin-left: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    cursor: pointer;
}